:root {
    --v1: #ee3939c6;
    --v2: #3cb63c;
    --v3: #3a3838fa;
    --v4: #ff7800;
    --v5: #256d25;
    --shdw: 0.5rem .5rem rgba(0, 0, 0, 0.1);
    --bdr: .2rem solid rgba(0, 0, 0, .1);
    --outl: .1rem solid rgba(0, 0, 0, .1);
    --outl-hvr: .2rem solid var(var(--v3));
    background-color: #fff;
}

/* when we give *{
    font-size: 62.5%;
    } and
    
    a{
        font-size:1rem;
    }
    
    p{
        font-size:3rem;
    }*/
/* then when we have to change the font size instead of doing it on all we can reduce it from 62.5% */
/* the thing is 62.5% is equal to 10px  */
* {
    font-family: sofia;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: #eee;
}

header {
    display: flex;
    height: 9rem;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    font-size: 1.4rem;
    outline: var(--outl);
    box-shadow: var(--shdw);
    z-index: 1000;
}

.GrowCo {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    margin-left: 11rem;
}

header h1 i {
    color: var(--v4);
    margin-right: 1rem;
}

.navbar a {
    margin-right: 2rem;
    color: var(--v2);
    font-size: 1.7rem;
}

.navbar a:hover {
    color: var(--v4);
}

.home {
    display: flex;
    background-image: url(../Image/gr1.png);
    padding-top: 27rem;
    padding-bottom: 12rem;
    padding-right: 0.51rem;
    align-items: center;
    justify-content: right;
    background-position: center;
    background-size: cover;
}

.home .content h1 {
    font-size: 3rem;
    text-align: center;
}

.or {
    color: var(--v4);
}

.gr {
    color: var(--v5);
}

.home .content p {
    color: var(--v3);
    padding-top: 1rem;
    text-align: center;
    line-height: 1.8;
    font-size: 1rem;
}

.home .content .btn1 {
    color: var(--v5);
    border: 1.2px solid var(--v5);
    height: 4rem;
    width: 16rem;
    border-radius: 0.7rem;
    cursor: pointer;
    text-align: center;
    margin-left: 17rem;
    margin-top: 2rem;
    font-size: 1.7rem;
    background-color: transparent;
    transition: 0.4s ease;
    box-shadow: var(--shdw);
    outline: var(--outl);

}

.home .content .btn1:hover {
    color: var(--v4);
    border: 1.2px solid var(--v4);
    font-size: 1.9rem;
}

.features {
    padding: 2rem 9%;
}

.features h1 {
    text-align: center;
    margin: 1.5rem;
    color: var(--v3);
    font-size: 3.7rem;
}

.features h1 span {
    background-color: var(--v4);
    color: white;
    padding: 1.1rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 101%, 0% 100%, 7% 50%, 0% 0%);
}

.features .box-container {
    display: grid;
    /* todo */
    grid-template-rows: repeat(auto-fit, minimax(30rem, 1fr)); 
    grid-gap: 1.5rem;
}

.features .box-container .box {
    margin: 1.3rem;
    outline: var(--outl);
    background-color: white;
    height: 37rem;
    text-align: center;
    border-radius: 0.7rem;
}

.features .box-container .box img {
    margin: 2rem 0rem;
    height: 15rem;
}

.features .box-container .box h3 {
    margin: 1rem;
    font-size: 2.6rem;
    color: rgb(13, 13, 73);
}

.features .box-container .box p {
    font-size: 1.5rem;
    color: var(--v3);
    margin: 1rem;
}

.features .box-container .box .btn2 {
    color: var(--v5);
    border: 1.2px solid var(--v5);
    height: 4rem;
    width: 16rem;
    border-radius: 0.7rem;
    cursor: pointer;
    text-align: center;
    margin: 1.5rem 0rem;
    font-size: 1.7rem;
    background-color: transparent;
    transition: 0.4s ease;
    box-shadow: var(--shdw);
    outline: var(--outl);
}

.features .box-container .box .btn2:hover {
    color: var(--v4);
    border: 1.2px solid var(--v4);
    font-size: 1.9rem;
}
/* stopped at 21:41 */